{
    "twitch":{
        "client_id":"6kknm4d6pa8npy47720a72sik4kyrv"
    },
    "youtube":{
        "client_id":"123456789012-1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p.apps.googleusercontent.com",
        "client_secret":"GOCSPX-aBcDeFgHiJkLmNoPqRsTuVwXyZaB"
    },
    "afreeca":{
        "test":"// 향후 오픈API가 개인에게 개방될 경우 고려"
    },
    "chzzk":{
        "test":"// 향후 오픈API가 개인에게 개방될 경우 고려"
    }
}